In [24]:
import pandas as pd
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

In [25]:
#load the data and print it
df = pd.read_csv("C:/Users/dzyyu/AutoMLTools/AutoML-Tools/AutoGluon/Datasets/time_series2.csv")
df.head()

  item_id            timestamp  target
0      H2  1750-01-01 00:00:00  2990.0
1      H2  1750-01-01 01:00:00  2990.0
2      H2  1750-01-01 02:00:00  2862.0
3      H2  1750-01-01 03:00:00  2809.0
4      H2  1750-01-01 04:00:00  2544.0

In [26]:
# convert from DataFrame into TimeSeriesDataFrame format.
train_data = TimeSeriesDataFrame.from_data_frame(
    df,
    id_column="item_id",
    timestamp_column="timestamp"
)
train_data.head()

                             target
item_id timestamp
H2      1750-01-01 00:00:00  2990.0
        1750-01-01 01:00:00  2990.0
        1750-01-01 02:00:00  2862.0
        1750-01-01 03:00:00  2809.0
        1750-01-01 04:00:00  2544.0

In [27]:
# predicts future values of multiple related time series
predictor = TimeSeriesPredictor(
    prediction_length=4,
    path="autogluon-m4-hourly",
    target="target",
    eval_metric="MASE"
)

predictor.fit(
    train_data,
    presets="medium_quality",
    time_limit=300
)

================ TimeSeriesPredictor ================
TimeSeriesPredictor.fit() called
Setting presets to: medium_quality
Fitting with arguments:
{'enable_ensemble': True,
 'evaluation_metric': 'MASE',
 'excluded_model_types': None,
 'hyperparameter_tune_kwargs': None,
 'hyperparameters': 'medium_quality',
 'num_val_windows': 1,
 'prediction_length': 4,
 'random_seed': None,
 'target': 'target',
 'time_limit': 300,
 'verbosity': 2}
Provided training data set with 147354 rows, 199 items (item = single time series). Average time series length is 740.5. Data frequency is 'H'.
=====================================================
AutoGluon will save models to autogluon-m4-hourly\
AutoGluon will gauge predictive performance using evaluation metric: 'MASE'
	This metric's sign has been flipped to adhere to being 'higher is better'. The reported score can be multiplied by -1 to get the metric value.

Provided dataset contains following columns:
	target:           'target'

Starting training. Start time is 2023-09-22 12:37:12
Models that will be trained: ['Naive', 'SeasonalNaive', 'Theta', 'AutoETS', 'RecursiveTabular', 'DeepAR']
Training timeseries model Naive. Training for up to 299.89s of the 299.89s of remaining time.
	-3.7722       = Validation score (-MASE)
	0.14    s     = Training runtime
	7.73    s     = Validation (prediction) runtime
Training timeseries model SeasonalNaive. Training for up to 292.01s of the 292.01s of remaining time.
	-0.9303       = Validation score (-MASE)
	0.14    s     = Training runtime
	0.35    s     = Validation (prediction) runtime
Training timeseries model Theta. Training for up to 291.51s of the 291.51s of remaining time.
	-0.7448       = Validation score (-MASE)
	0.14    s     = Training runtime
	42.35   s     = Validation (prediction) runtime
Training timeseries model AutoETS. Training for up to 249.01s of the 249.01s of remaining time.
	-0.8957       = Validation score (-MASE)
	0.15    s     = Training runtime
	237.26  s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular. Training for up to 11.58s of the 11.58s of remaining time.
	-0.4332       = Validation score (-MASE)
	16.88   s     = Training runtime
	0.40    s     = Validation (prediction) runtime
Stopping training due to lack of time remaining. Time left: -5.71 seconds
Not fitting ensemble due to lack of time remaining. Time left: -5.71 seconds
Training complete. Models trained: ['Naive', 'SeasonalNaive', 'Theta', 'AutoETS', 'RecursiveTabular']
Total runtime: 305.61 s
Best model: RecursiveTabular
Best model score: -0.4332

In [29]:
# prediction of next time-series
predictions = predictor.predict(train_data)
predictions.head()

Global seed set to 123
Model not specified in predict, will default to the model with the best validation score: RecursiveTabular

                                    mean          0.1          0.2  \
item_id timestamp
H2      1750-01-30 04:00:00  2784.707073  2672.694009  2711.145793
        1750-01-30 05:00:00  2461.504321  2303.093927  2357.472962
        1750-01-30 06:00:00  2241.150419  2047.138101  2113.738545
        1750-01-30 07:00:00  2096.567932  1872.541804  1949.445373
        1750-01-30 08:00:00  1972.732091  1722.263265  1808.244069

                                     0.3          0.4          0.5  \
item_id timestamp
H2      1750-01-30 04:00:00  2738.872235  2762.563457  2784.707073
        1750-01-30 05:00:00  2396.684072  2430.188520  2461.504321
        1750-01-30 06:00:00  2161.762151  2202.796552  2241.150419
        1750-01-30 07:00:00  2004.898256  2052.280701  2096.567932
        1750-01-30 08:00:00  1870.242278  1923.217461  1972.732091

                                     0.6          0.7          0.8  \
item_id timestamp
H2      1750-01-30 04:00:00  2806.850689  2830.541911  2858.268353
        1750-01-30 05:00:00  2492.820123  2526.324571  2565.535681
        1750-01-30 06:00:00  2279.504286  2320.538687  2368.562293
        1750-01-30 07:00:00  2140.855163  2188.237607  2243.690491
        1750-01-30 08:00:00  2022.246720  2075.221904  2137.220112

                                     0.9
item_id timestamp
H2      1750-01-30 04:00:00  2896.720137
        1750-01-30 05:00:00  2619.914716
        1750-01-30 06:00:00  2435.162737
        1750-01-30 07:00:00  2320.594060
        1750-01-30 08:00:00  2223.200916

In [30]:
#print leaderboard of models
leaderboard = predictor.leaderboard()

              model  score_val  pred_time_val  fit_time_marginal  fit_order
0  RecursiveTabular  -0.433175       0.400968          16.879338          5
1             Theta  -0.744830      42.348993           0.141066          3
2           AutoETS  -0.895683     237.264002           0.148999          4
3     SeasonalNaive  -0.930297       0.350036           0.138962          2
4             Naive  -3.772214       7.731961           0.138068          1